.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/** Modal update info */
.uploadAvatar {
  margin-top: 20px;
  width: 150px;
  text-align: center;
}
.mt-uploadInfo {
  padding-top: 50px;
}
.mt-uploadInfo .mr-inputInfo {
  margin-left: -40px;
}
.btn-Widthinfo {
  width: 120px;
}
.mb-padding-top {
  margin-top: 20px;
}
.ImgPreview {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}
.inputFile-avatar {
  visibility: hidden;
  position: absolute;
}
.UploadAvatar .browse {
  height: 35px;
  width: 104px;
  border-radius: 3px !important;
  background-color: #4d96ff !important;
  border: none;
  color: #fff;
}
.p-tl-info {
  padding-top: 10px;
}
.input-info {
  font-family: Poppins-Medium;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 45px;
  border-radius: 25px;
  padding: 0 15px 0 15px;
}
.p-tl-address {
  padding-top: 30px;
}
.input-address {
  font-family: Poppins-Medium;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 80px;
  border-radius: 25px;
  padding: 15px 15px 0 15px;
}
.p-tl-gender {
  padding-top: 10px;
  padding-left: 70px;
}
.mod-foot-center {
  margin: 0 auto;
}
.mod-foot-center button {
  width: 80px;
}
.mod-foot-center .m-r-15 {
  margin-right: 15px;
}
.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #d8d8d8;
}

.textarea-info {
  font-size: 24px;
  line-height: 2.5;
  color: #666666;
  display: block;
  width: 100%;
  background-color: #f2f0f5;
  height: 120px;
  border-radius: 20px;
  padding: 0px 10px 0 10px;
}


/* hiding input */
.style-btn-post input[type='file'] {
  display: none;
}
.clicked-btn-post {
  cursor: pointer;
  transition: color 200ms;
  /* margin-right: 5px; */
}

/** css post recent */
.post_populartrip {
  position: relative;
  width: 100%;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  height: auto;
  margin: 1px;
  border: 1px solid #f1f1f1;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px #f1f1f1;
}
.post_populartrip .mask-lable {
  transition: top .2s, transform .2s, border-radius .2s;
}

.post_populartrip .mask-lable span {
  color: lightyellow;
  opacity: 1;
  z-index: 99;
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 35%;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  font-size: 22px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.post_populartrip .mask-lable .hide-posticon {
  display: none!important;
}
.post_populartrip .mask-lable:hover .hide-posticon {
  display: block!important;
  background-image: #23527c;
}

.post_populartrip .info .css-content {
  font-size: 22px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

/* hiding input review */
.style-btn-review input[type='file'] {
  display: none;
}
.clicked-btn-review {
  cursor: pointer;
  transition: color 200ms;
  /* margin-right: 5px; */
}