/* css Star rating */
.star-rating input[type='radio'] {
    display: none;
}
.star {
    cursor: pointer;
    transition: color 200ms;
    /* margin-right: 5px; */
}

/* ------------------------- */
.containt-review {
    margin-top: 15px;
    text-align: center;
}
.containt-review .row h3 {
    margin-left: 80px;
}

.review-left {
    float: left;
    width: 485px;
    text-align: center;
}

.style-review {
    margin-left: 30px;
}
.style-destination-review {
    margin-top: 35px;
    margin-left: 30px;
}

.ava-rating p {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}
.your-rating p {
    font-size: 20px;
    margin: 5px 0px 20px 0px;
}

.total-rating p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}

/*** *******************/
.tt-uppercase {
    text-transform: uppercase;
    width: 230px;
    height: 50px;
    margin: 50px 2px 105px 20px;
}
.style-rating {
    margin: 35px 5px 80px 10px;
}
.ava-your-rating p {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 25px;
}